<h1>{{title}}</h1>
<button (click)="showConfig();">Click</button>
<div *ngIf="config">
  <p>Location: {{config.name}}</p>
  <p>Description: {{config.weather[0].description}}</p>
  <p>Current Temperature: {{config.main.temp}}</p>
  <p>Max Temperature: {{config.main.temp_max}}</p>
  <p>Min Temperature: {{config.main.temp_min}}</p>
  
  
  <p>Wind Speed: {{config.wind.speed}}</p>
  <p>Humidity: {{config.main.humidity}}</p>
  <p>Pressure: {{config.main.pressure}}</p>
  <p>Sunrise Time: {{config.sys.sunrise}}</p>
  <p>Sunrise Time: {{config.sys.sunrise}}</p>
  
</div>

<button (click)="getForeCast();">Forecast</button>
<div *ngIf="foreCast">
  <p>TimeZone: {{foreCast.timezone}}</p>
  <h1>{{foreCast}}</h1>

  <app-forecast-chart getit="helloo" [foreCast]="foreCast"></app-forecast-chart>

</div>



